---
import { getCollection } from "astro:content";
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { normalizeEntryId } from "@lib/utils";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const projectUrls = projects.map((project) => `/projects/${normalizeEntryId(project)}`);
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-slate-dark dark:text-ivory-light">
        Projects
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>

<script type="application/json" id="page-quick-nav-data" set:html={JSON.stringify(projectUrls)}></script>
