---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { WORK } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { dateRange, groupPositionsByCompany } from "@lib/utils";

// Get all work entries (positions and company metadata)
const allWork = await getCollection("work");

// Group and sort
const work = groupPositionsByCompany(allWork);
---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Work
      </div>
      <ul class="flex flex-col space-y-8">
        {
          work.map((entry) => (
            <li class="animate">
              <div class="text-sm opacity-75">{entry.totalDuration}</div>
              {entry.url ? (
                <Link
                  href={entry.url}
                  external
                  class="font-semibold text-black dark:text-white hover:underline"
                >
                  {entry.company}
                </Link>
              ) : (
                <div class="font-semibold text-black dark:text-white">
                  {entry.company}
                </div>
              )}
              <div class="mt-4 space-y-6">
                {entry.sortedPositions.map(async (position) => {
                  const { Content } = await position.render();
                  return (
                    <div>
                      <div class="text-sm opacity-75">
                        {dateRange(position.data.dateStart, position.data.dateEnd)}
                      </div>
                      <div class="font-medium text-black dark:text-white">
                        {position.data.role}
                      </div>
                      <article class="prose prose-sm dark:prose-invert mt-2">
                        <Content />
                      </article>
                    </div>
                  );
                })}
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
